main {
	background-color: inherit;
	width: 70%;
	margin: 80px auto;}
main > h1 {
	text-align: center;
	margin: 1rem 0px;}
main > p {
	text-align: justify;
	margin: 20px auto;}
	p::first-letter {
		padding-left: 2rem;}
main iframe {
	display: block;
	margin: auto;}
main ul {
	padding-left: 80px;}
	main ul li {
		text-align: justify;}
main ol {
	padding-left: 80px;}
	main ol li {
		text-align: justify;}
main > table {
	margin: auto;
	border-collapse: collapse;}
	main td, main th {
		border: 1px solid black;
		padding: 5px;
		text-align: center;}
	tr:nth-child(odd){
		background-color: lightgrey;}
main > div {
	margin: 50px auto;
	display: flex;
	flex-direction: row;}
	main > div > * {
		width: 50%;
		margin:auto;}
.smth {
	background-color: white;
	border: none;}
.dark-mode .smth {
	background-color: black;}
.dark-mode {
	background-color: black;}
	.dark-mode main p, .dark-mode main td, .dark-mode main th, .dark-mode main li, .dark-mode main h1 {
		color: white;}
	.dark-mode main td, .dark-mode main th {
		border-color: white;}
	.dark-mode main tr:nth-child(odd) {
		background-color: #303030;}

iframe, table {
	max-width: 80vw;}

@media only screen and (max-width: 1160px) {
	main {
		width: 90%;}
}
@media only screen and (max-width: 910px) {
	main > div {
		flex-direction: column-reverse;}
		main > div > ol {
			width: auto;}
		main > div > iframe {
			margin-top: 20px;
			width: 100%;}
}